[Unit]
Description=Beetle Daemon 
After=network.target

[Service]
ExecStart=/usr/local/bin/beetled
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target