[Unit]
Description=Beetle Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/beetled
User=root
Restart=always

[Install]
WantedBy=multi-user.target